SPRING_PROFILES_ACTIVE=dev
FORUM_SERVER_PORT=9000
FORUM_JWT_TOKEN_TTL=PT1H

FORUM_DEV_DB_URL=jdbc:postgresql://localhost:5432/forum
FORUM_DEV_DB_USERNAME=admin
FORUM_DEV_DB_PASSWORD=admin
FORUM_DEV_JWT_SECRET=replace-with-base64-32-byte-secret

FORUM_DEV_DB_NAME=forum
